.DS_Store
.idea
.vscode

manage/node_modules
manage/npm-debug.log*
manage/yarn-debug.log*
manage/yarn-error.log*

display/node_modules
server/node_modules

publish/node_modules
publish/config.js
publish/a.sh

mysql.js
aly_nginx.conf
