.DS_Store
.idea
.vscode

manage/node_modules
manage/dist/
manage/npm-debug.log*
manage/yarn-debug.log*
manage/yarn-error.log*
manage//test/unit/coverage/

display/node_modules
server/node_modules

mysql.js
